<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>My messenger</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <nav>
        <div class="ui massive fixed borderless menu">
          <div class="ui container">
            <a class="header item" href="#">My Messenger</a>
          </div>
        </div>
      </nav>
    <div class="ui main main-container">
      <div class="col-md-5 welcome">
        <h2>Welcome to My Messenger</h2></br>
        <p>Connect with your friends from Web@cadémie.</p>
      </div>
      <div class="container1">
        <form class="form-horizontal" name = "logIn" method="POST" action="/logIn" >
             <fieldset class="col-md-5">
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput"></label>
              <div class="col-md-16">
                <input  name="log" type="text" placeholder="Email or Username" class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput"></label>
              <div class="col-md-16">
                <input  name="password" type="password" placeholder="Password" class="form-control input-md">

              </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="button1id"></label>
              <div class="col-md-8">
                <button  type="submit" name="login" class="btn btn-primary">Log in</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="container2">
        <form class="form-horizontal" name="signUp" method="POST" action="/signUp">
          <div><p class="err"><%= (!!locals.err)?err:'' %></p></div>
          <fieldset class="col-md-5">
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput"></label>
              <div class="col-md-16">
                <input name="username" type="text" placeholder="Username" class="form-control input-md">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput"></label>
              <div class="col-md-16">
                <input  name="mail" type="email" placeholder="Email" class="form-control input-md">
              </div>
            </div>    
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput"></label>
              <div class="col-md-16">
                <input name="password" type="password" placeholder="Password" class="form-control input-md">
              </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="button1id"></label>
              <div class="col-md-8">
                <button id="sign" name="sign" type="submit" class="btn btn-primary">Sign up</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </main>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</body>
</html>
